<link rel="stylesheet" href="style.css">
<div id="circle"></div>
<h1>Credits</h1>
<h3 class="name"><pre>   ▄███████▄    ▄████████  ▄██████▄       ▄█    ▄████████    ▄█   ▄█▄     ███     
  ███    ███   ███    ███ ███    ███     ███   ███    ███   ███ ▄███▀ ▀█████████▄ 
  ███    ███   ███    ███ ███    ███     ███   ███    █▀    ███▐██▀      ▀███▀▀██ 
  ███    ███  ▄███▄▄▄▄██▀ ███    ███     ███  ▄███▄▄▄      ▄█████▀        ███   ▀ 
▀█████████▀  ▀▀███▀▀▀▀▀   ███    ███     ███ ▀▀███▀▀▀     ▀▀█████▄        ███     
  ███        ▀███████████ ███    ███     ███   ███    █▄    ███▐██▄       ███     
  ███          ███    ███ ███    ███     ███   ███    ███   ███ ▀███▄     ███     
 ▄████▀        ███    ███  ▀██████▀  █▄ ▄███   ██████████   ███   ▀█▀    ▄████▀   
               ███    ███            ▀▀▀▀▀▀                 ▀                     </pre></h1>

<div>
  <h2>UH Project</h2>
  <h3>Development Group</h3>
  <p>Kameron - Sole developer</p>
  <h3>Testers</h3>
  <p>Juniper</p>
  <p>Ara</p>
  <p>Kameron</p>
  <h3>Links</h3>
  <p>RammerHead Discord Community</p>
  <p>Random SubReddits</p>
  <br>
  <h2>Transit Project</h2>
  <h3>Development Group</h3>
  <p>Kameron - Sole Developer</p>
  <h3>Testers</h3>
  <p>Kameron</p>
  <h3>Links</h3>
  <p>RammerHead Discord Community</p>
  <p>Random SubReddits</p>
  <br>
  <br>
  <a href="index.html">HOME</a>
</div>
<script>
    let circle = document.getElementById('circle');
const onMouseMove = (e) =>{
  circle.style.left = e.pageX + 'px';
  circle.style.top = e.pageY + 'px';
}
document.addEventListener('mousemove', onMouseMove);

var link = 'https://psteam782.gitlab.io/transit/credits.html';
link.split('.html')[0];
window.history.replaceState( null, null, link );
</script>