<link rel="stylesheet" href="style.css">
<div id="circle"></div>
<h1 class="willy">Welcome to Transit, your new favorite tool hub</h1>
<h3 class="name"><pre>     ▄███████▄    ▄████████  ▄██████▄       ▄█    ▄████████    ▄█   ▄█▄     ███     
    ███    ███   ███    ███ ███    ███     ███   ███    ███   ███ ▄███▀ ▀█████████▄ 
    ███    ███   ███    ███ ███    ███     ███   ███    █▀    ███▐██▀      ▀███▀▀██ 
    ███    ███  ▄███▄▄▄▄██▀ ███    ███     ███  ▄███▄▄▄      ▄█████▀        ███   ▀ 
  ▀█████████▀  ▀▀███▀▀▀▀▀   ███    ███     ███ ▀▀███▀▀▀     ▀▀█████▄        ███     
    ███        ▀███████████ ███    ███     ███   ███    █▄    ███▐██▄       ███     
    ███          ███    ███ ███    ███     ███   ███    ███   ███ ▀███▄     ███     
   ▄████▀        ███    ███  ▀██████▀  █▄ ▄███   ██████████   ███   ▀█▀    ▄████▀   
                 ███    ███            ▀▀▀▀▀▀                 ▀                     </pre></h3>
<a href="https://google.com">Requests</a>
<a href="credits.html">Credits</a>
<a href="index.html">Home</a>
<h1 class="line">-----------------------</h1>
<div class="list">
<a href="proxy.html">Proxy List</a>
<br>
<br>
<a href="https://beafraidofcars.codehs.me">OLD PORTFOLIO (NO LONGER ACCURATE TO PROJEKT)</a>
<br>
<br>
<a href="https://btoar.com">btoar.com (ARCHIVE)</a>
<br>
<br>
<a href="https://vscode.dev/">VSCODE Web Studio</a>
</div>
<script>
    let circle = document.getElementById('circle');
const onMouseMove = (e) =>{
  circle.style.left = e.pageX + 'px';
  circle.style.top = e.pageY + 'px';
}
document.addEventListener('mousemove', onMouseMove);

var link = 'https://psteam782.gitlab.io/transit/index.html';
link.split('.html')[0];
window.history.replaceState( null, null, link );
</script>