<link rel="stylesheet" href="style.css">
<div id="circle"></div>
<h1 class="willy">Proxy List</h1>
<h3 class="name"><pre>   ▄███████▄    ▄████████  ▄██████▄       ▄█    ▄████████    ▄█   ▄█▄     ███     
  ███    ███   ███    ███ ███    ███     ███   ███    ███   ███ ▄███▀ ▀█████████▄ 
  ███    ███   ███    ███ ███    ███     ███   ███    █▀    ███▐██▀      ▀███▀▀██ 
  ███    ███  ▄███▄▄▄▄██▀ ███    ███     ███  ▄███▄▄▄      ▄█████▀        ███   ▀ 
▀█████████▀  ▀▀███▀▀▀▀▀   ███    ███     ███ ▀▀███▀▀▀     ▀▀█████▄        ███     
  ███        ▀███████████ ███    ███     ███   ███    █▄    ███▐██▄       ███     
  ███          ███    ███ ███    ███     ███   ███    ███   ███ ▀███▄     ███     
 ▄████▀        ███    ███  ▀██████▀  █▄ ▄███   ██████████   ███   ▀█▀    ▄████▀   
               ███    ███            ▀▀▀▀▀▀                 ▀                     </pre></h3>
<a href="https://google.com">Requests</a>
<a href="credits.html">Credits</a>
<a href="index.html">Home</a>
<h1 class="line">-----------------------</h1>
<div class="list">
<a href="https://mathpuzzles.hilleberg.tw">Shaddow Tabbed</a>
<br>
<br>
<a href="https://batteryeducation.geobattery.com">Rammerhead I</a>
<br>
<br>
</div>
<script>
    let circle = document.getElementById('circle');
const onMouseMove = (e) =>{
  circle.style.left = e.pageX + 'px';
  circle.style.top = e.pageY + 'px';
}
document.addEventListener('mousemove', onMouseMove);
</script>