@import url('https://fonts.googleapis.com/css2?family=Workbench:SCAN@-53&display=swap');

body {
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    font-family: "Workbench", sans-serif;
    font-variation-settings:
        "BLED" 0,
        "SCAN" -30;
    cursor: none;
}
a {
    color: rgb(0, 255, 0);
    cursor: none;
    padding-top: 10px;
}
a:visited {
    color: rgb(0, 255, 0);
    cursor: none;
}
a:hover {
    color: rgb(0, 255, 0);
    cursor: none;
}

body:has(a:hover) #circle{
    position:absolute;
    transform:translate(-50%,-50%);
    height:5px;
    width:5px;
    border-radius:0%;
    border:2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    transition: 
    height 0.2s ease,
    width 0.2s ease,
    border 0.2s ease,
    background-color 0.2s ease
    ;
}

#circle {
    position:absolute;
    transform:translate(-50%,-50%);
    height:10px;
    width:10px;
    border-radius:0%;
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    transition: 
    height 0.2s ease,
    width 0.2s ease,
    border 0.2s ease,
    background-color 0.2s ease
    ;
}
  .willy {
    padding-top: 10px;
  }
  .line {
    pointer-events: none;
    margin-top: -5px;
  }
  .list {
    margin-top: -20px;
  }
  .name{
    color: rgb(0, 255, 0);
    cursor: none;
    width: fit-content;
    transition: color 0.2s ease;
  }
  .name:hover {
    color: white;
    cursor: none;
    transition: color 0.2s ease;
  }
  body:has(.name:hover) #circle {
    position:absolute;
    transform:translate(-50%,-50%);
    height:5px;
    width:5px;
    border-radius:0%;
    border:2px solid rgb(0, 255, 0);
    background-color: rgba(0, 255, 0);
    pointer-events: none;
    transition: 
    height 0.2s ease,
    width 0.2s ease,
    border 0.2s ease,
    background-color 0.2s ease
    ;
  }